<html>

<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="baidu-tc" content="siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <meta name="keywords" content="手机APP下载,手机应用市场,手机应用市场下载,手机软件,手机软件下载,手机应用,手机应用下载,手机市场,手机市场下载">
    <meta name="description" content="手机APP下载,手机软件下载,手机应用市场下载">
    <title>手机应用市场下载</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <link rel="stylesheet" href="content.min.css">
</head>

<body>
    <div class="wraper">
        <div class="header"></div>
        <div class="container">
            <div class="list">
                <ul id="example-1">
                    <li class="item" v-for="item in items">
                        <div class="pic"><a :href="item.url"><img :src="item.pic" width="72" height="72"></a></div>
                        <div class="info">

                            <h4 v-if="item.text =='下载'"><a :href="item.url">{{item.name}}</a></h4>
                            <h4 v-else><a :href="item.url" onClick="go(this)">{{item.name}}</a></h4>

                            <div class="prop"><span>{{item.size}}</span><span>{{item.version}}</span></div>
                            <div class="note">{{item.description}}</div>

                            <div class="btn" v-if="item.text =='下载'"><a :href="item.apk"><span>{{item.text}}</span></a></div>
                            <div class="btn" v-else><a :href="item.apk" onClick="go(this)"><span>{{item.text}}</span></a></div>

                        </div>
                    </li>
                </ul>


                <script type="text/javascript">
                    function go(obj) {
                        var href = obj.href;
                        if (href.indexOf(".apk") == -1) {
                            android.Intent(href);
                        }
                    }
                </script>

                <script>
                    var example1 = new Vue({
                        el: "#example-1",
                        data: {
                            show: "下载",
                            items: [{
                                    name: "趣TV",
                                    description: "高清网络电视在线看",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJ5YBq.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.qutv.apk",
                                    url: "http://www.qutvb.com/mobile/index-iphone.html",
                                    size: "电脑网页版",
                                    version: "qutvb.com",
                                    text: "下载"
                                },
                                {
                                    name: "蹭网杀手",
                                    description: "同一wifi下切断对方网络",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJTB8S.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.cengwangshashou.apps.by.liyi.apk",
                                    url: "https://shouji.baidu.com/software/23493632.html",
                                    size: "3.31MB",
                                    version: "版本：1.0.7",
                                    text: "下载"
                                },
                                {
                                    name: "跟尾狗",
                                    description: "家庭定位地点监控提醒",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJ7JRU.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.flowerdog.apk",
                                    url: "http://shouji.baidu.com/software/22845951.html",
                                    size: "23.6MB",
                                    version: "版本：1.0.5",
                                    text: "下载"
                                }, {
                                    name: "局域网监控",
                                    description: "宝宝局域网摄像头监控",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJ7hdI.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.juyuwangjiankong.apk",
                                    url: "http://shouji.baidu.com/software/23495175.html",
                                    size: "2.6MB",
                                    version: "版本：1.0.8",
                                    text: "下载"
                                },{
                                    name: "短信修改助手",
                                    description: "短信修改,支持修改发送时间和电话",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJ7bQg.png",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.smstask.apk",
                                    url: "http://shouji.baidu.com/software/23493799.html",
                                    size: "8.48MB",
                                    version: "版本：1.0.1",
                                    text: "下载"
                                }, {
                                    name: "短信批量群发",
                                    description: "群发软件,支持设置每个人的发送次数",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJ7Xes.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.smstask.apk",
                                    url: "http://shouji.baidu.com/software/23493799.html",
                                    size: "8.48MB",
                                    version: "版本：1.0.1",
                                    text: "下载"
                                }, {
                                    name: "随身尺子",
                                    description: "手机上的随身尺子",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJHpWT.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.mobileruler.apk",
                                    url: "http://shouji.baidu.com/software/23495592.html",
                                    size: "2.2MB",
                                    version: "版本：1.0.3",
                                    text: "下载"
                                }, {
                                    name: "Wifi实时对话",
                                    description: "局域网Wifi实时对话",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJHKSO.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.wifishishiduihua.apps.liyi.apk",
                                    url: "http://shouji.baidu.com/software/9200284.html",
                                    size: "2.2MB",
                                    version: "版本：1.0.6",
                                    text: "下载"
                                }, {
                                    name: "名人名言查询",
                                    description: "名人名言在线查询",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJHlOH.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.mingrenmingyanchaxun.android.liyi.apk",
                                    url: "http://shouji.baidu.com/software/22849061.html",
                                    size: "2.9MB",
                                    version: "版本：1.1.4",
                                    text: "下载"
                                }, {
                                    name: "3D万花筒",
                                    description: "用自己相片玩3d万花筒",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJHGTI.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.wanhuatong.apk",
                                    url: "http://shouji.baidu.com/software/22847764.html",
                                    size: "2.8MB",
                                    version: "版本：1.0.2",
                                    text: "下载"
                                }, {
                                    name: "sim导出助手",
                                    description: "sim和手机自带通讯之间导出导入",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJHNff.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.simexport.apk",
                                    url: "http://shouji.baidu.com/software/23495346.html",
                                    size: "2.3MB",
                                    version: "版本：1.0.2",
                                    text: "下载"
                                }, {
                                    name: "logcat窗口",
                                    description: "logcat悬浮窗随时查看手机log信息",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJHRpT.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.logcatview.apk",
                                    url: "http://shouji.baidu.com/software/23493799.html",
                                    size: "2.6MB",
                                    version: "版本：1.0.1",
                                    text: "下载"
                                }, {
                                    name: "出外提醒",
                                    description: "出门手机震动弹出框提醒要做事情",
                                    pic: "https://s2.ax1x.com/2019/06/03/VJH5nJ.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.wifigotip.apk",
                                    url: "http://shouji.baidu.com/software/22855002.html",
                                    size: "2.8MB",
                                    version: "版本：1.0.3",
                                    text: "下载"
                                }, {
                                    name: "网速限制",
                                    description: "限制自己网速不影响舍友打游戏",
                                    pic: "//ww4.sinaimg.cn/large/005GPQHgly1frt47h29vyj30e80e8mxh.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.activity.speedlimit.apk",
                                    url: "http://shouji.baidu.com/software/22855323.html",
                                    size: "2.5MB",
                                    version: "版本：1.0.1",
                                    text: "下载"
                                }, {
                                    name: "APP开发库查询",
                                    description: "查询App使用的开发库",
                                    pic: "//ww4.sinaimg.cn/large/005GPQHgly1frt47v2g9xj30e80e8wgo.jpg",
                                    apk: "http://p.gdown.baidu.com/779bd680cc41ddf734267d5932f38199c1250aa4f4faf971f725810f1b165a7e5bb1b1d62833c7e09fe295ff2900452d9376ac717b9b7a1979405890b8855e768aeec6de39577554531a762d1cccdf1fcd43ff83ed1fd362762f477c0f17e92a449a85be04d6c2cb",
                                    url: "http://shouji.baidu.com/software/23493799.html",
                                    size: "2.2MB",
                                    version: "版本：1.0.6",
                                    text: "下载"
                                }, {
                                    name: "Linux命令运行",
                                    description: "在手机允许Linux命令",
                                    pic: "//ww4.sinaimg.cn/large/005GPQHgly1frt489q5hbj30e80e8wg3.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.linuxcommand.apk",
                                    url: "http://shouji.baidu.com/software/22846136.html",
                                    size: "2.7MB",
                                    version: "版本：1.0.4",
                                    text: "下载"
                                }, {
                                    name: "快捷开关机",
                                    description: "一键生成开关机按钮",
                                    pic: "//ww4.sinaimg.cn/large/005GPQHgly1frt4a3clzhj30e80e8th5.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.closetool.apk",
                                    url: "http://shouji.baidu.com/software/22847713.html",
                                    size: "6.9MB",
                                    version: "版本：1.0.4",
                                    text: "下载"
                                }, {
                                    name: "相机取色",
                                    description: "摄像头获取目标颜色代码",
                                    pic: "//ww4.sinaimg.cn/large/005GPQHgly1frt4agzofvj30e80e87cc.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.xiangjiquse.android.by.liyi.apk",
                                    url: "http://shouji.baidu.com/software/22849685.html",
                                    size: "2.9MB",
                                    version: "版本：1.1.4",
                                    text: "下载"
                                }, {
                                    name: "运动测速器",
                                    description: "GPS测取平均速度",
                                    pic: "//ww4.sinaimg.cn/large/005GPQHgly1frt4auilxxj30e80e8q45.jpg",
                                    apk: "https://developer.apktool.net/update/apk/com.liyi.apps.speedmeter.apk",
                                    url: "http://shouji.baidu.com/software/22850221.html",
                                    size: "2.62MB",
                                    version: "版本：1.0.0",
                                    text: "下载"
                                }, {
                                    name: "表情秀",
                                    description: "在线制作表情包",
                                    pic: "//ww4.sinaimg.cn/large/005GPQHggy1fv3okpwxebg306o06ogly.gif",
                                    apk: "https://www.bbqqxx.com/",
                                    url: "https://www.bbqqxx.com/",
                                    size: "网站链接",
                                    version: "bbqqxx.com",
                                    text: "进入"
                                }, {
                                    name: "第一在线工具网",
                                    description: "万能在线工具箱",
                                    pic: "//ww4.sinaimg.cn/large/005GPQHggy1fv3pjf7cmhj3074074js6.jpg",
                                    apk: "http://www.1tool.org/",
                                    url: "http://www.1tool.org/",
                                    size: "网站链接",
                                    version: "1tool.org",
                                    text: "进入"
                                }
                            ]
                        }
                    })
                </script>
            </div>
            <div class="feed_more"><a href="#" rel="nofollow">返回顶部<i></i></a></div>
        </div>
        <!-- 
    <div class="footer">
    <div class="copyright">
    © <a href="/">手机APP软件应用市场</a>
    <a  rel="nofollow" target="target">闽ICP备15000318号-9</a>
    <a  rel="nofollow" target="_blank"><img src="http://www.beian.gov.cn/img/ghs.png" width="20" height="20" style="vertical-align:middle;"> 粤公网安备 44148102000062号</a>
    </div>
    </div>
    -->
    </div>
    <!-- <div id="google_translate_element"></div>
    <script type="text/javascript" async>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: "zh-CN",
                layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT
            }, "google_translate_element")
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
  <!--  <script>
        var _hmt = _hmt || [];
        (function () {
            var e = document.createElement("script");
            e.src = "http://hm.baidu.com/hm.js?4d0f907fe890559b94206387903abd67";
            var t = document.getElementsByTagName("script")[0];
            t.parentNode.insertBefore(e, t)
        })()
    </script>
    -->
</body>

</html>